<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MAN ALIVE!</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/custom/css/community/board/board_detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <th:block th:include="layout/header"></th:block>

    <input type="hidden" th:value="${seq}" id="seq">

    <main id="main">
        <div class="main-container">
            <div class="main-wrap">
                <div id="content-wrap">
                <!--제목과 날짜-->
                    <div id="post-header">
                        <div id="title-div">
                            <h2></h2>
                        </div>
                        <div id="date-div" style="float:right;">
                            <span></span>
                        </div>
                    </div>

                    <div id="photo-div"></div>
                    <div id="content-div">
                        <textarea readonly id="content-textarea"></textarea>
                    </div>
                </div>

                <div id="info-wrap">
                    <div id="writer-info">
                        <div id="writer-profile">

                        </div>
                        <div style="float:right">
                            <button type="button" id="addfriend-Btn">친구추가</button>
                        </div>
                    </div>
                    <hr style="width:100%;padding-left: -30px; margin-top: 77px;">
                    <div id="reply-area">
                        <div id="reply-getinside" style="border:3px solid darkblue;">
                        </div>
                    </div>
                    <hr style="width:100%;padding-left: -30px; margin-top: 7px;">
                    <div id="replyinfo-area">
                        <div>
                        <img src="/custom/img/icon/icon-emptyheart.png" style="width: 30px; height:30px; float:left">
                        </div><br>
                        <div style="margin-top: 0px">
                            <b>좋아요
                            <span>1,729개</span>
                            </b>
                        </div>
                    </div>
                    <hr style="width:100%;padding-left: -30px; margin-top: 7px;">
                    <div id="replyWrite-area">
                        <textarea id='reply-content' placeholder="댓글 달기..."></textarea>
                        <input type="button" id='replypost-btn'value="등록" style="float:right;">
                    </div>

                </div>

            </div>
        </div>
    </main>

    <script src="/custom/js/common/index.js"></script>
    <script src="/custom/js/common/login.js"></script>
    <script src="/custom/js/community/board/board_detail.js"></script>