<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MAN ALIVE!</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <link href="/custom/css/community/board/board_write.css" rel="stylesheet">


    <th:block th:include="layout/header"></th:block>

    <main id="main" style="height:40%">
        <div class="main-container">
            <div class="write-wrap">
                <div>
                    <h2 style="float:left;"><b>글쓰기</b></h2> <input type="button" id="board-submitBtn" value="올리기">
                </div>
                <br>
                <div id="write-div">
                    <div id="text-div">
                        <form method="post" id="boardForm" action="/board/post">
                            <input name='title' id="title" type="text" placeholder="제목을 입력해주세요."> <br>
                            <textarea name='content' id="content" placeholder="내용을 입력해주세요."></textarea>
                            <input type="hidden" name="hashtags" value="">
                        </form>
                        <div id="hashTag-wrap" style="display: inline-block">
                            <div class="hashTag-div" style="display: inline-block">
                                <span class="size-span" style="display:none"></span>
                                <span class="hasTag-span">#
                                    <input type="text" maxlength="13" class='hashTag-text' name="hashtag"
                                           onkeyup="keyUpHash(this)" onkeydown="keydownHash(this)" placeholder="키워드" size="5" >
                                </span>
                            </div>
                        </div>

                    </div>
                    <div id="fileupload-div">
                        <div id="uploadbtn-div">
                            <input type="file" id="hdn-uploadBtn" name="uploadFile" multiple style="display: none;" onchange="asyncUpload(this)">
                            <div>
                            <button id="upload-btn" >
                                <span>
                                    <i>
                                        <img id="icon-camera" src="/custom/img/icon/icon-camera.png">
                                    </i><br>
                                    <span id="uploadBtn-text">사진올리기<br>*3MB이하, 최대 6장까지</span>
                                </span>
                            </button>
                            </div>

                            <div id="thumbnail-wrap">
                                <ul></ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
<!--        <hr class="one">-->
        <div style="text-align: center;">
<!--            <input type="button" id="board-submitBtn" value="올리기">-->
        </div>


        <!--upload-img Modal-->
        <div id="img-Modal" class="img-modal">
            <!-- Modal content -->
            <div class="imgModal-content">
                <span class="imgModal-close">&times;</span>
                <div id="showImage-area">

                </div>
            </div>
        </div> <!--End Login-Model-->

        <!--confirm Modal-->
        <div id="confirm-modal">
            <!-- Modal content -->
            <div class="confirm-content">
                <div>
                    <div>
                        <span id="confirm-notice">작성한 글이 등록되었습니다!<span>
                    </div>
                    <div id="confirmBtn-area">
                        <button>내가 쓴 글 보러가기</button> &nbsp;&nbsp;
                        <button onclick="location.href='/board'">자유게시판으로 가기</button>
                    </div>
                </div>
            </div>
        </div> <!--End Login-Model-->


    </main>

    <script src="/custom/js/common/index.js"></script>
    <script src="/custom/js/community/board/board_write.js"></script>
