<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MAN ALIVE!</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/custom/css/community/board/board_detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <th:block th:include="layout/header"></th:block>

    <input type="hidden" th:value="${seq}" id="seq">

    <main id="main">
        <div class="main-container">
            <div class="main-wrap">
                <div id="content-wrap">
                <!--제목과 날짜-->
                    <div id="post-header">
                        <div id="title-div">
                            <h2></h2>
                        </div>
                        <div id="updbuttons-div" style="float:right;">
                            <span></span>
                        </div>
                    </div>

                    <div id="photo-div"></div>
<!--                    <div id="content-div">-->
<!--                        <textarea readonly id="content-textarea"></textarea>-->
<!--                    </div>-->

                </div>

                <div id="info-wrap">
                    <div id="writer-info">
                        <div id="writer-profile">

                        </div>
                        <div style="float:right">
                            <button type="button" id="addfriend-Btn">친구추가</button>
                        </div>
                    </div>
                    <hr style="width:100%;padding-left: -30px; margin-top: 77px;">
                    <div id="reply-area">
<!--                        <div id="content-area">-->
                        <div id="content-div">
<!--                            <textarea readonly id="content-textarea"></textarea>-->

                        </div>
<!--                        </div>-->
                        <div id="reply-getinside" style="border:0px solid darkblue;">
                        </div>
                    </div>
                    <hr style="width:100%;padding-left: -30px; margin-top: 7px;">
                    <div id="replyinfo-area">
                        <div id="likebtn-area"></div>
                        <div style="margin-top: 0px; margin-left: 30px">
                            <b>좋아요 <span id="likecnt-span"></span>개</b>
                        </div>
                        <div><img src='/custom/img/icon/icon-reply.png' id='reply-icon'></div>
                        <div style="margin-top: 0px; margin-left: 30px;">
                            <b>댓글 <span id="replycnt-span"></span>개</b>
                        </div>

                    </div>
                    <hr style="width:100%;padding-left: -30px; margin-top: 7px;">
                    <div id="replyWrite-area">
                        <textarea th:if="${session['user']}" id='reply-content' placeholder="댓글 달기..."></textarea>
                        <textarea th:unless="${session['user']}" placeholder="댓글을 작성하려면 로그인 해주세요." readonly></textarea>
                        <input th:if="${session['user']}" type="button" id='replypost-btn' value="등록" style="float:right;">
                        <input th:unless="${session['user']}" type="button" value="등록" style="float:right; opacity: 0.4;" disabled>
                    </div>
                </div>
            </div>
        </div>
        <!--confirm Modal-->
        <div id="confirm-modal">
            <!-- Modal content -->
            <div class="confirm-content">
                <div>
                    <div>
                        <span id="confirm-notice">정말로 삭제하시겠습니까?<span>
                    </div>
                    <div id="confirmBtn-area">
                        <button id='deleteConfirm-Btn'>네, 삭제할게요.</button> &nbsp;&nbsp;
                        <button id='cancelDelete-Btn' value="">아니오. 취소할게요.</button>
                    </div>
                </div>
            </div>
        </div> <!--End Login-Model-->
    </main>

    <script src="/custom/js/common/index.js"></script>
    <script src="/custom/js/common/login.js"></script>
    <script src="/custom/js/community/board/board_detail.js"></script>