.main-wrap{
    border: 0px #18d26e solid;
    height: 100%;
    margin-bottom: 3%;
    display: inline-block;
    width: 63%;
    line-height: 45px;
}
#content-wrap{
    width: 65%;
    height:100%;

    float: left;
    padding-top: 45px;
}
#content-wrap #post-header {
    margin-bottom: 75px;
}

#info-wrap{
    position: fixed;
    left: 59.4%;
    padding-top: 55px;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    width: 21%;
    float:left;
    height: 100%;
}
#writer-info{
    /*border-bottom: 1px solid #EAEAEA;*/
    padding-left: 25px;
    padding-right: 18px;
}


#title-div{
    color: #757575;
    float:left;
    padding-left: 20px;
}
#updbuttons-div{
    color: #757575;
    margin-right: 30px;
    font-size: 15px;
    float:right;
}
#writer-profile{
    float:left;
    padding-bottom: 30px;
}

#writer-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
}
#writer-nick{
    font-weight: bold;
    font-size: 15px;
}
#addfriend-Btn{
    border-radius: 5%;
    font-size: 12px;
    background-color: #F5F5F5;
    color: #757575;

    border: none;
    font-weight: bolder;

}
#photo-div{
  padding-left: 2%;
  padding-right: 2%;
}
#photo-div .eachphoto-div{
    margin-bottom: 30px;


}
#photo-div .eachphoto-img{
    width:100%;
    max-width:800px;
    min-width:300px;
}
#content-div textarea{
    resize: none;
    width: auto;
    height: auto;
    border: none;
    /*line-height:20px;*/
    font-size: 15px;
}
#reply-area {
    text-align: left;
    padding-left: 3%;
    padding-right: 0%;
    height: 40%;
    width: 100%;
    overflow: scroll;
    border: 0px solid #35C5F0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

}
#reply-area::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
#replyinfo-area {
    margin-top: -15px;
    padding-left: 18px;
    padding-top: 13px;
    height: 15%;
    border: 0px solid #18d26e;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
}
#replyWrite-area{
    text-align: left;

    height:20%;
}

#replyWrite-area textarea{
    border: 0px solid #18d26e;
    resize: none;
    width: 87%;
    height: 160px;
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
    text-align: left;
}
#replyWrite-area {
    padding-left: 10px;
    padding-right: 10px;
}
#replyWrite-area input{
    margin-top: -12px;
    border: none;
    background-color: white;
    color: #35C5F0;
    font-weight: bold;
    font-size: 14px;
    height:30px;
}
/*#replyWrite-area textarea::placeholder{*/
/*    color: #757575;*/
/*    font-size: 14px;*/
/*}*/

.replyerphoto-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.replyerPhoto-area {
    float:left;
    margin-right: 10px;
    width:13%;
    border: #18d26e solid 0px;
    padding-left: 10px;

}
.replyerContent-area{
    float: left;
    font-size: 13px;
    line-height: 20px;
    width: 73%;
    padding-bottom: 10px;
    padding-top: 10px;
    border: salmon 0px solid;
}
.replyerContent-area .replyer-nickname{
    font-weight: bold;
    margin-right: 5px;
}
.replyerContent-area label {
    font-size: 13px;
    margin-left: 3px;

}

.replyelement-wrap {
    margin-bottom: 0px;
}
.reply-date {
    color: #8E8E8E;
    font-size: 12px;
}
.delete-reply a {
    font-size: 11px;
    font-weight: bold;
}
#plusicon-div{
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    transform: translate(-50%, -50%);
    margin-left: 52%;



}
#plusicon-div img {
    width: 26px;
    height: 26px;
}
.replylike-div{
    float: right;
    width:8%;
    border: #4DC7A0 0px dotted;
}
#morereply-btn{
    cursor: pointer;
}

#board-modbtn {
    color: #18d26e;
    font-size: 13px;
    font-weight: bold;
}
#board-delbtn {
    /*color: #ED0000;*/
    color: #ff5e52;
    font-size: 13px;
    font-weight: bold;
}

#confirm-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); !* Fallback color *!*/
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
    background-color: rgba( 255, 255, 255, 0.5 );
}

/* Modal Content/Box */
.confirm-content {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
    border: 1px solid #35C5F0;
    border-radius: 10px;
    /*width: 50%; !* Could be more or less, depending on screen size *!*/
    width: 500px;
    height: 200px;
    text-align: center;
}

#confirm-modal button {
    background-color: #35C5F0;
    color: #FFFFFF;
    border-radius: 7px;
    border: 1px solid #35C5F0;
    font-size: 15px;
    font-weight: bold;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 50px;
}
#confirmBtn-area {
    margin-top: 25px;
}

#confirm-notice {
    font-size: 30px;
}

.like-btns {
    cursor: pointer;
    width: 23px;
    height:21px;
    float:left;
    margin-top: 4px;
}
.like-btns:hover {
    opacity: 0.5;
}

#reply-icon{
    margi-left: 2px;
    margin-top: 5px;
    width: 23px;
    height:21px;
    float:left;
}
#hashtags-div{
    margin-top: 5px;
    text-align: left;
    color: #35C5F0;
    font-size: 12px;
    width: auto;
}
