ul{
    list-style:none;
}
.market-wrap{
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 50px;
    display: inline-block;
    width: 60%;
    height: auto;

}

.board-wrap h2 {
    text-align: left;
    font-weight: bold;
}

#goSell-btn {
    background-color: #35C5F0;
    color: #FFFFFF;
    border-radius: 7px;
    border: 1px solid #35C5F0;
    font-size: 17px;
    font-weight: bold;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 2px;
    padding-bottom: 2px;
    float : right;
    margin-top: 25px;
    position: relative;
    top: -18px;

    height: 50px;
}
#goSell-btn:hover{
    opacity: 0.7;
}

#makeMarket-btn {
    background-color: #35C5F0;
    color: #FFFFFF;
    border-radius: 7px;
    border: 1px solid #35C5F0;
    font-size: 17px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    float : right;
    margin-top: 25px;
    position: relative;
    top: -18px;

    height: 50px;
}

#write-btn:hover {
    opacity: 0.7;
}

.profile-photo {
    width:24px;
    height:24px;
    border-radius: 50%;
    margin-right: 5%;
}

#paging-wrap {
    position: relative;
    margin-top: 10px;
    left: 57%;
}

.loading-img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#category-area {
    border: 0px solid blue; float:left;
    width: 17%;
    text-align: left;
    /*position: fixed;*/


}
#category-area li {
    margin-top: 40px;
    text-align: left;
    list-style:none; padding-left:0px;
    border: 0px solid #0b6bd3;
}
#category-area li ul {
    font-size: 15px;
    text-align: left;
    border: 0px solid #e83e8c;
    padding-left: 15px;
    cursor: pointer;
}
#category-area li ul:hover{
    font-size: 16px;
    font-weight: bolder;
    opacity: 0.3;
}

#product-area {
    border: 0px solid lawngreen; float:left;
    /*text-align: left;*/
    /*display: inline-block;*/
    /*position: relative;*/
    padding-left: 10px;
    left: 18%;
    width: 83%;
}
#categoryinfo-wrap{
    padding-left: 15px;
    margin-bottom: 30px;

}
.item-wrapper {
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    float: left;
    margin-left: 16px;
    margin-bottom: 23px;
}

.item-wrapper:hover{
    /*box-shadow: 1px 1px 1px grey;*/
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.1, 1.1);


}
.item-image, .item-image img {
    width: 200px;
    height: 200px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.item-info{
    line-height: 15px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}
.item-info .item-title{
    font-size: 15px;
    font-weight: bolder;
    margin-left: 3px;
    margin-right: 3px;
}
.item-info .item-price{
    color: #35C5F0;
    margin-left: 3px;
    font-size: 14px;
    font-weight: bolder;

}
.item-info .item-regdate{
    color: #adb5bd;
    font-size: 12px;
    float: right;
    margin-right: 3px;
    margin-top: -12px;

}
.item-info hr{
    margin-top: 20px;
    margin-bottom: 0px;
}
.item-info .item-readcnt{
    margin-top: -20px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #adb5bd;
    padding-left: 8px;
}
.item-info .item-wishcnt{
    margin-top: -20px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #adb5bd;
}

#marketsearch-span{
    display:inline-block;
    padding-left: 15px;
    margin-left: 80px;
    border-radius: 8px;
    border: 2px solid #35C5F0;
    height:50px!important;
    /*float: left;*/
    width: 50%;
}

#marketsearch-input{
    border: none;
    display:block;
    font-size: 20px;
    width: 80%;
    height: 90%;
    font-size: 16px;
    margin-top: 2px;
    border: #ee4f3d 0px solid;
    border-radius: 10px;
    float: left;
}

#marketsearch-btn{
    display:block;
    font-size: 17px;
    background: none;
    float: right;
    border: none;
    height: 100%;
    width: 13%;
    background: #35C5F0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}
#searchemtpy-btn {
    display: none;
    /*display:block;*/
    float: left;
    height: 100%;
    text-align: center;
    background:none;
    border: none;
}
#searchemtpy-btn img {
    display: inline;
    width: 20px;
    height: 20px;
    margin-bottom: 40px;
    opacity: 0.5;
}



/*여기서부터 */

#photo-area{
    border: 0px solid coral;
    width: 55%;
    height: 500px;
    font-size: 15px;
    float: left;
}

#info-wrap{
    border: 0px solid blueviolet;
    width: 45%;
    height: 500px;
    font-size: 15px;
    float: left;
    padding-top: 0%;
    padding-left: 45px;
    padding-right: 45px;
    text-align: left;

}
#info-wrap hr {
    width: 100%;
}

#info-wrap #item-title{
    font-size: 27px;
    margin-bottom: 15px;
    /*font-weight: bolder;*/
}
#info-wrap #item-price{
    color: #35C5F0;
    font-size: 33px;
    font-weight: bolder;
}
#info-wrap table{
    border: 0px solid orange;
    line-height: 30px;
    width: 100%;
}

#info-wrap table .article {
    /*border: #35C5F0 3px solid;*/
    /*width: 37%;*/
    color: #999999;
}
#info-wrap #item-info label {
    margin-right: 10px;
}

#photolist-area{
    width: 15%;
    height: 100%;
    margin-right: 1.5%;
    border: solid 0px #35C5F0;
    float: left;
}
#mainphoto-area{
    width: 83%;
    border: 0px solid #ee4f3d;
    float: left;
    height: 100%;
}
#photolist-area ul li{
    width: 85px;
    height: 85px;
    margin-left: -40px;
    margin-bottom: 8px;

}
#photolist-area ul li img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
}
#photolist-area ul li img:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.1, 1.1);
}

#main-photo{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
}

#item-title, #item-priceWrap, #item-info, #usermarket-info, #button-wrap{
    padding-left: 4%;
    padding-right: 4%;
}

#item-priceWrap{
    margin-bottom: 30px;
}
#umarket-photo{
    border: none;
    border-radius: 30%;
    width: 70px;
    height: 70px;
    float: left;
}
#umarket-name{
    font-weight: bolder;
    font-size: 15px;
    margin-top: 5px;
    float: left;
    margin-top: 8%;
    margin-left: 4%
}
#umarket-followBtn{
    float: right;
    margin-top: 8%;
    border:none;
    border-radius: 12px;
    font-size: 12px;
    background-color: #f5f5f5;
    color: gray;
    width: 55px;
    height: 30px;
    padding-left: 3%;
}

#product-content{
    float: right;
    width: 81%;
    margin-top: 4%;
    margin-right: 1.5%;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    padding: 3%;
    resize: none;
    line-height: 25px;
}
#wish-btn{
    background-color: #FFFFFF;
    color: #35C5F0;
    border-radius: 7px;
    border: 1px solid #35C5F0;
    font-size: 16px;
    font-weight: bold;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 7px;
    width: 30%;
    float: right;
    height: 50px;
}
#other-product{
    display: inline-block;
    border: #ee4f3d 0px solid;
    width: 110%;

}

#other-eachProduct{
    width: 110px;
    height: 110px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
    margin-bottom: 5px;
    float: left;
}
#other-product img {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 110px;
    height: 110px;
    float:left;
    margin-right: 11px;
    margin-bottom: 7px;
    display: inline-block;
}
#other-moreBtn {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    background: none;
    width: 110px;
    height: 110px;
    float:left;
    margin-right: 11px;
    margin-bottom: 7px;
    display: inline-block;
}

#modify-btn, #delete-btn{
    margin-top: 8%;
    border:none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bolder;
    background-color: #f5f5f5;
    color: gray;
    width: 55px;
    height: 30px;
    padding-left: 3%;
    margin-right: 7px;

}